<nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <p id="logo">Venta De<p>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>

    </nav>